@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="content">
    <section>
        <h2 class="section-title">Bienvenido al Gestor Documental DocWare</h2>
        <p class="text">Este sistema está diseñado para almacenar, organizar, gestionar y controlar la documentación clave de las organizaciones de forma eficiente.</p>
    </section>

    <section class="album">
        <div class="cards-container">
            <div class="card">
                <div class="card-body">
                    <img alt="Control de Información Documentada" height="300" src="/img/control.png" width="300" />
                </div>
                <div class="card-footer">
                    <h3>Control de Información Documentada</h3>
                    <button class="btn btn-secondary">Saber más...</button>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <img alt="Automatización de flujos de aprobación" height="300" src="/img/flujos-aprobacion.png" width="300" />
                </div>
                <div class="card-footer">
                    <h3>Automatización de flujos de aprobación</h3>
                    <button class="btn btn-secondary">Saber más...</button>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <img alt="Historial de movimientos de la documentación" height="300" src="/img/versiones-historial.png" width="300" />
                </div>
                <div class="card-footer">
                    <h3>Historial de movimientos de la documentación</h3>
                    <button class="btn btn-secondary">Saber más...</button>
                </div>
            </div>
        </div>
    </section>
</main>